<i class="fas fa-street-view"></i>

<i class="far fa-clock"></i>
<i class="fas fa-user-clock"></i>

<i class="fas fa-building"></i>
<i class="fas fa-drafting-compass"></i>
<i class="fas fa-cogs"></i>
<i class="fas fa-certificate"></i>
<i class="fas fa-file-signature"></i>
<i class="fas fa-download"></i>
<i class="fab fa-js"></i>
<i class="fab fa-node-js"></i>
<i class="fab fa-facebook"></i>
<i class="fab fa-linkedin"></i>

<i class="fas fa-globe-europe"></i>
<i class="fas fa-globe-asia"></i>
<i class="fas fa-globe-africa"></i>
<i class="fas fa-globe-africa"></i>
<i class="fas fa-language"></i>
<i class="fas fa-database"></i>

<i class="fas fa-bolt"></i>
<i class="fas fa-globe-americas"></i>

https://github.com/juniorhari/repo5.git

.job-end {
  grid-column: 3 / -1;
  grid-row: 4 / 5;
  /* border: 1px solid red; */
  font-size: 10px;
}
