body {
  background-color: grey;
  font-family: 'Montserrat', sans-serif;
}

.container-intro{
  position: relative;
  top: 100px;
  margin: auto;
  width: 80%;
  border: 1px solid white;
  background-color: white;
  border-radius: 25px;
  padding: 50px;
  overflow: auto;
}

.section-intro{
  display: grid;
  grid-template: repeat(6, minmax(10px, auto)) /  repeat(2, minmax(15px, auto));
}

.section-intro-objtitle{
  grid-column: 1 / 2;
  grid-row: 1 / 2;
}
.section-intro-objdescr{
  grid-column: 1 / 2;
  grid-row: 2 / 6;
}
.section-intro-address1{
  grid-column: 2 / 3;
  grid-row: 1 / 2;
  font-size: 12px;
  font-weight: bold;
}
.section-intro-address2{
  grid-column: 2 / 3;
  grid-row: 2 / 3;
  font-size: 12px;
  font-weight: bold;
}
.section-intro-address3{
  grid-column: 2 / 3;
  grid-row: 3 / 4;
  font-size: 11px;
  font-weight: bold;
}
.section-intro-address4{
  grid-column: 2 / 3;
  grid-row: 4 / 5;
  font-size: 12px;
  font-weight: bold;
}
.section-intro-address5{
  grid-column: 2 / 3;
  grid-row: 5 / 6;
  font-size: 11px;
  font-weight: bold;
}

.objective-trim{
    width: 75%;
}

.container-main {
  position: relative;
  top: 125px;
  width: 80%;
  border: 1px solid grey;
  margin: auto;
  overflow: auto;
  display: flex;
  justify-content: space-between;
}

/* main section for the work experience */
.sectionA {
  border: 1px solid white;
  border-radius: 25px;
  background-color: white;
  padding: 10px;
}

/* main section for the skill sets */
.sectionB {
  /* margin-top: 100px; */
  border: 1px solid white;
  border-radius: 25px;
  background-color: white;
  padding: 10px;
  margin-left: 50px;
  height: 50%;
}

/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */
/* Section: Main CSS Grid section  --- under sectionA */
/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */
.section {
  display: grid;
  grid-template: repeat(12, minmax(20px, auto)) / repeat(4, minmax(75px, auto));
}

.job-title {
  grid-column: 1 / -1;
  grid-row: 1 / 2;
  font-size: 20px;
  font-weight: bold;
  color: #468ECC;
}

.job-org {
  grid-column: 1 / 3;
  grid-row: 2 / 3;
  font-size: 11px;
  color: #deb009;
  font-weight: bold;
}

.job-country {
  grid-column: 3 / -1;
  grid-row: 2 / 3;
  font-size: 11px;
}

.job-start {
  grid-column: 1 / 2;
  grid-row: 3 / 4;
  font-size: 11px;
}

.job-project-title {
  grid-column: 1 / -1;
  grid-row: 4 / 5;
  font-size: 11px;
}

.flex-project {
  display: flex;
}

.job-tasks {
  grid-column: 1 / -1;
  grid-row: 7 / 13;
  /* border: 1px solid red; */
  font-size: 11px;
  margin-bottom: 50px;
}

/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */
/* CSS Grid Section 2: Section for Skill Sets - under sectionB */
/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */
.section2 {
  /* display: grid; */
  /* grid-template: repeat(1, minmax(200px, auto)) / repeat(4, minmax(200px, auto)); */
}

.skill-item {
  /* grid-column: 1 / 3;
  grid-row: 1 / -1; */
  font-size: 11px;
}


.para-bold {
  font-size: 12px;
  font-weight: bold;
}

.list1 {
  list-style: none;
}

.highlight-me {
  color: #468ECC;
  font-weight: bold;
}

.highlight-me2 {
  color: #DEB009;
  font-weight: bold;
  font-size: 14px;
}

.highlight-me3{
  color: #468ECC;
  font-weight: bold;
  font-size: 14px;
}


.local-flex {
  display: flex;
  justify-content: space-between;
  line-height: 10px;
}

* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */
/* CSS Grid Section 3: Section for Certifications - under sectionB */
/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */
.section2 {
  margin-top: 100px;
}

.para-content{
  font-size: 11px;
}
